@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 800px;
  margin: auto auto 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}
